<!--
  Generated template for the RegionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Select region</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
 <ion-list>
   <div *ngFor="let region of regionKeys" >
   <ion-card [ngClass]="{'greyscaleCard': (regions[region])==null}" *ngIf="region!='_request'">
     <div class="custom-card" (click)="goToSummary(region)" *ngIf="(regions[region])!=null && region!='any'">
        <h2>{{region | uppercase}}</h2>       
     </div>
     <div class="custom-card" *ngIf="(regions[region])==null && region!='any'">
        <h2>{{region | uppercase}}</h2>       
     </div>
     <div class="custom-card" *ngIf="(regions[region])==null && region=='any'">
        <h2>CONSOLE REGION</h2>       
     </div>
     <div class="custom-card" (click)="goToSummary(region)" *ngIf="(regions[region])!=null && region=='any'">
        <h2>CONSOLE REGION</h2>       
     </div>
   </ion-card>
  </div>

  </ion-list>
</ion-content>